
<div class="form-group">
  <label>{{ localize "SWFFG.Effect.DurationChecks" }}</label>
  <div class="form-fields">
    <input type="number" name="flags.starwarsffg.duration.checks" value="{{ flags.starwarsffg.duration.checks }}">
  </div>
</div>
<hr>
<div class="form-group">
  <label>{{ localize "SWFFG.Effect.DurationRounds" }}</label>
  <div class="form-fields">
    <input type="number" name="duration.rounds" value="{{ duration.rounds }}">
  </div>
</div>
<div class="form-group">
  <label>{{ localize "EFFECT.DurationTurns" }}</label>
  <div class="form-fields">
    <input type="number" name="duration.turns" value="{{ duration.turns }}">
    <select name="flags.starwarsffg.duration.turn_anchor">
      <option value="turn_start" {{#if (eq flags.starwarsffg.duration.turn_anchor "turn_start")}}selected{{/if}}>{{localize "SWFFG.Effect.TurnAnchor.Start"}}</option>
      <option value="turn_end" {{#if (eq flags.starwarsffg.duration.turn_anchor "turn_end")}}selected{{/if}}>{{localize "SWFFG.Effect.TurnAnchor.End"}}</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label>Combat Encounter</label>
  <div class="form-fields">
    <input type="text" name="duration.combat" value="" disabled="">
  </div>
</div>
<div class="form-group">
    <label>Effect Start Turn</label>
    <div class="form-fields">
        <label>Round</label>
        <input type="number" name="duration.startRound" value="">
        <label>Turn</label>
        <input type="number" name="duration.startTurn" value="">
    </div>
</div>